

:root{
 --white : hsl(0, 0%, 100%);
 --lightGray : hsl(212, 45%, 89%);
 --grayishBlue : hsl(220, 15%, 55%);
 --darkBlue : hsl(218, 44%, 22%);

 --Mobile : 375px;
 --Desktop : 1440px;

}

html{
    font-size: 100%;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--lightGray);
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem; /* 1rem = 16px */
    font-weight: 400;
    color: var(--grayishBlue);
    overflow:hidden;
}
h4 , p{
    margin: 0px;
    padding: 0px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-container .card{
    background-color: var(--white);
    padding: 1.066rem;
    border-radius:1.25rem;
    width: 31.25m;
    text-align: center;
    max-width: 31.25rem;
    box-shadow: 0 16px 41px -15px var(--grayishBlue);
}
.main-container .card img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.8125rem;
}
.main-container .card .details h4{
    color: var(--darkBlue);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.18rem;
    font-family: 'Outfit', sans-serif;
}
.main-container .card .details p{
    font-size: 1.7rem;
    font-weight: 400p;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1439px) {

    .main-container .card {
       width: 20.06rem;
       max-width: 20.06rem;
    }
    .main-container .card .details h4{
        font-size: 1.7rem;
    }
    .main-container .card .details p{
        font-size: 1.2rem;
    }
    
}
